<section id="search" class="search-wrap">
  <h1>Find  contact </h1>

  
  <form action="/dir/search" class="search-form">
    <select class="js-example-basic-single" name="term">
  <option value="name">Name</option>
    ...
  <option value="department">Department</option>
</select>
    <i class="fas fa-search"></i>
    <input type="search" name="value" placeholder="First name, last name, department" />
    <input type="submit" value="Search" />
  </form>
</section>

 
